@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans";
}

.container {
  width: 1726px;
  margin: 0px auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.page1 {
  background-image: url("./assests/banner.jpg");
  background-position: center;
  background-size: cover;
  padding: 8px 0px;
}

.banner_text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.banner_text p {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  color: #141517;
}

.banner_div {
  border: 2px solid black;
  background-color: #452f03;
  border-radius: 38px;
  padding: 7px 10px;
}
.banner_div a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #fff;
}

.logo {
  width: 102px;
  height: 84px;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 48px;
}

header nav ul li a {
  color: #141517;
  font-size: 16px;
}

.apply_now {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  padding: 14px;
  background-color: #2467ec;
  border-radius: 4px;
}

.apply_now a {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.apply_now img {
  width: 18.48px;
  height: 16.66px;
}

.page2 {
  background-color: #fafafc;
}

.page3 {
  background-image: url("./assests/model.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 175px 0 200px 0;
  position: relative;
}

.page3::before {
  content: "";
  display: block;
  background: url("./assests/arrow.png") center/contain no-repeat;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 44%;
  width: 212px;
  height: 179px;
}

.course {
  margin-left: 215px;
  flex: 0 0 33%;
  max-width: 33%;
}

.content {
  display: flex;
}

.offer img {
  height: 23px;
  width: 23px;
}

.offer {
  font-size: 18px;
  font-family: 600;
  line-height: 100%;
  color: #fff;
  background-color: #ffb013;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 41px;
  padding: 8px 20px 8px 14px;
  margin-bottom: 28px;
}

.course h1 {
  margin-bottom: 33px;
  font-size: 50px;
  font-weight: 400;
  line-height: 59px;
  font-family: "Raleway";
}

.course h1 .bold_content {
  font-weight: 800;
}

.course h5 {
  margin-bottom: 19px;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 100%;
}

.course h6 {
  margin-bottom: 38px;
  font-size: 17px;
  font-weight: 400;
}

.btns {
  display: flex;
  gap: 22px;
  align-items: center;
}

.btns .btn_reg {
  width: 266px;
  height: 55px;
  border: 1.2px solid #00000059;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns .btn_reg p {
  font-size: 16px;
  font-weight: 700;
}

.apply_now1 {
  padding: 15px;
}

.figures {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
}

[alt="img1"] {
  position: absolute;
  left: 12%;
}

[alt="img2"] {
  position: absolute;
  top: 38%;
  left: 12%;
}

.slider_img_rate {
  background-color: #fff;
  text-align: center;
  padding: 15px 33px 23px 33px;
  border-radius: 12px;
  box-shadow: 0px 40px 50px 0px #1c335429;
  position: absolute;
  bottom: -93px;
  left: 23%;
}



/* .slider_img0 {
  position: relative;
  top: 44%;
  left: 63%;
} */

.slider_img_rate {
  position: absolute;
  /* top: 68%;
  left: 30%; */
}

/* [alt="img6"] {
  margin-left: -36px; 
} */

/* .slider_img1 {
  position: relative;
  left: 265%;
} */

.img_main .img_text {
  padding: 28px 43px 18px 23px;
  margin-top: -55px;
  background-color: #fff;
  border-radius: 12px;
}

[alt="img3"]{
  position: absolute;
  right: -4%;
  top: 27%;
}

.img_main {
  position: absolute;
  right: -84px;
  top: 33%;
}
/* 
.img_div {
  position: relative;
  right: 85px;
  top: 94px;
} */

.img_main1 {
  position: absolute;
  right: 0;
  bottom: -74px;
  padding: 14px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
